.container {
    --color: #239ce2;
    /* min-width: 200px;
    max-width: 850px; */
    max-width: 100%;
    margin: 0 auto;
    /* flex: 1.2; */
    /* height: fit-content; */
    /* min-height: 1050px; */
    aspect-ratio:1/1.4;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    /* margin-top: 40px; */
    background-color: white;
  }
  
  .header {
    display: flex;
    flex-direction: column;
  }
  .locationInfo{
    font-size: 15px;
    color: rgb(75, 75, 75);
  }
  .locationInfo svg{
    height: 11px;
    width: 15px;
  }
  .header .heading {
    font-size: 2.7rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  
  .header .subHeading {
    color: var(--color);
    font-weight: 500;
    font-size: 1.1rem;
  }
  
  .header .links {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 30px;
  }
  
  .header .link {
    color: black;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    padding: 0;
  }
  
  .header .link svg {
    color: var(--color);
    height: 16px;
    width: 16px;
  }
  
  .main {
    
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
  }
  
  .section .sectionTitle {
    font-size: 1.4rem;
    font-weight: bold;
    width: 100%;
    border-bottom: 2px solid #000;
  }
  
  .section .content {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    padding: 10px 0;
  }
  .item {
    padding: 3px 0 ;
    border-bottom: 1px dotted lightgray;
    display: flex;
    flex-direction: column;
    /* gap: 4px; */
    /* padding-bottom: 10px; */
  }
  .section .content .item:last-child {
    border-bottom: none;
  }

  .sectionKeAndar{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
  }
  .sectionKeAndarLinks{
    display: flex;
    flex-direction:row;
    gap: 20px;
  }
  
  .content .title {
    margin: 0%;
    padding: 0%;
    font-weight: 500;
    font-size: 1rem;
    /* line-height: 0rem; */
  }
  
  .content .subTitle {
    margin: 2px;
    font-weight: bold;
    /* color: var(--color); */
    font-size: 1rem;
  }
  
  .link {
    margin: 0%;
    display: flex;
    gap: 5px;
    font-size: 0.75rem;
    cursor: pointer;
    color: var(--color);
  }
  .content .link svg {
    height: 14px;
    width: 14px;
    color: var(--color);
  }
  
  .content .date {
    margin: 0%;
    padding: 0%;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 0.875rem;
  }
  
  .content .date svg {
    height: 14px;
    width: 14px;
  }
  
  .points,
  .numbered {
    margin: 0%;
    padding-left: 28px;
    /* font-size: 0.875rem; */
  }
  
  .numbered li {
    list-style-type: decimal;
    
  }
  
  .hidden {
    display: none;
  }

  @media screen and (max-width:820px){
    .container{
      aspect-ratio: 1/1.1;
    }
    .section .sectionTitle {
      font-size: 1rem;
    }
    .header .heading {
      font-size: 1.8rem;
    }
    .header .subHeading {
      font-size: 1rem;
    }
    .locationInfo{
      font-size: 10px;
    }
    .header .link {
      font-size: 0.675rem;
    }

    .section .sectionTitle {
      font-size: 1rem;
    }
    .section .content .item:last-child {
      border-bottom: none;
    }
    .content .title {
      font-size: 0.8rem;
    }
    
    .content .subTitle {
      font-size: 0.8rem;
    }
    
    .link {
      font-size: 0.75rem;
    }
    
    .content .date {
      font-size: 0.675rem;
    }
    .points,
  .numbered {
    font-size: 0.675rem;
  }
  }